<ion-header [translucent]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#"></ion-back-button>
      </ion-buttons>
      <ion-title>Inhalation</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar slot="start" class="search" show-clear-button="focus" search-icon="search-circle" animated="true" placeholder="Search"></ion-searchbar>
      <ion-tab-button slot="end">
        <ion-icon name="mic-outline">
        </ion-icon>
      </ion-tab-button>
    </ion-toolbar>
  </ion-header>
  
    <div class="chem-button">
      <ion-item class="button-chem">
        <ion-button expand="block" class="custom-button">Chemical 1</ion-button>
      </ion-item>
      <ion-item class="button-chem">
        <ion-button expand="block" class="custom-button">Chemical 2</ion-button>
      </ion-item>
    </div>