<div class="signup">
  <ion-card>
      <ion-card-header>
        <ion-card-subtitle class="subtitle-2"><i>Safety starts here, with you.</i></ion-card-subtitle>
        <ion-card-title class="main-tagline-2">Welcome!</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
          <ion-item>
              <ion-input label="Email" labelPlacement="floating" placeholder="Enter email@domain.com"></ion-input>
            </ion-item>
            <ion-item>
            <ion-input label="Name" labelPlacement="floating" placeholder="Enter Name"></ion-input>
          </ion-item>
            <ion-item>
              <ion-input label="Password" labelPlacement="floating" placeholder="Enter password"  type="text"></ion-input>
            </ion-item>
            <ion-button class="signup-button" shape="round">Sign up</ion-button>
            <div class="login-start">
              <p>Have an account already?</p><ion-button fill="clear">Log in</ion-button>
            </div>
      </ion-card-content>
    </ion-card>
  </div>