.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;  
  }

  .signup-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;  
  }
  .subtitle-2 {
    text-transform: none;
    color:#014421;
}
.main-tagline-2 {
  color: #7b1113;
}

.login-start {
  display: flex;
  align-items: center;
}
