<div class="signinup">
  <ion-card>
      <ion-card-header>
        <ion-card-subtitle class="subtitle"><i>Start safely</i>.</ion-card-subtitle>
        <ion-card-title class="main-tagline">Safety comes first</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
          <ion-item>
              <ion-input label="Email" labelPlacement="floating" placeholder="Enter email@domain.com"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Password" labelPlacement="floating" placeholder="Enter password"  type="text"></ion-input>
            </ion-item>
            <ion-button class="login" shape="round">Log in</ion-button>
            <ion-button class="forgot" fill="clear" size="small">Forgot Password?</ion-button>
           <div class="signup-start">
            <p>Haven't created an account yet?</p><ion-button fill="clear">Sign up</ion-button>
          </div>
      </ion-card-content>
    </ion-card>
  </div>